{% extends "base.html"%}

{% block content %}
<div class="container">		
<form method="post">
    <h2>Return Gear</h2>
	<div class="form-group">
		<label> Gear #:</label>
		<input class="form-control" placeholder="Gear #" name= "number">
		<div style="color: red">{{gearError}}</div>
	</div>
	<div class="form-group">
		<label > Password:</label>
		<input class="form-control" placeholder="Password" name="password" type="text" >
		<div style = "color: red">{{passError}}</div>
	</div>
	<div style = "color: red"> {{error}}</div>

	<br>
	<br>
	<button type="submit" class="btn btn-success">Submit!</button>
</form>
</div>
		<hr>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<body>

</html>
{% endblock %}
