{% extends "base.html"%}

{% block content %}
		
<form class="form-horizontal" method="post">
    <h2> Signup</h2>
	<div class="form-group">
		<label class="col-sm-2 control-label"> Username:</label>
		<input class="col-sm-2" placeholder="Username" name= "username" value={{username}}>
		<div style="color: red">{{userError}}</div>
	</div>

	
	<div class="form-group">
		<label class="col-sm-2 control-label"> Password:</label>
		<input class="col-sm-2" placeholder="Password" name = "password" type = "password" >
		<div style = "color: red">{{passError}}</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label"> Verify Password:</label>
		<input class="col-sm-2"  placeholder="Verify Password" name="verify" type="password">
		<div style="color: red">{{verifyError}}</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label"> Email (optional):</label>
		<input class="col-sm-2"  placeholder="Email Address" name="email" value={{email}}>
		<div style="color: red">{{emailError}}</div>
	</div>

	<br>
	<br>
	<button type="submit" class="btn btn-success">Sign Up!</button>
</form>
		<hr>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<body>
</html>
{% endblock %}
